<div class='container'>
  <div class='row'>
    <div class='span12'>
      <div class="page-header">
        <h2>
          Editing your Credential
        </h2>
      </div>

      <%= render 'form' %>

      <div class="btn-group">
        <%= link_to '<i class="icon-chevron-left"></i> Back'.html_safe, user_credentials_path, class: "btn" %>
      </div>
    </div>
  </div>
</div>