<div class='container'>
  
  <div class='row'>
    
    <div class="col-md-4 col-md-offset-2">
      <h1>Your agents are standing by</h1>
      <p>Huginn monitors the world and acts on your behalf.</p>

      <%= link_to "Login", new_user_session_path, :class => "btn btn-large" %>
      <%= link_to "Signup", new_user_registration_path, :class => "btn btn-primary btn-large" %>
    </div>
    
    <div class="col-md-3 col-md-offset-1">
      <%= image_tag 'odin.jpg', :class => 'img-responsive img-rounded', :title => "Wägner, Wilhelm. 1882. Nordisch-germanische Götter und Helden. Otto Spamer, Leipzig & Berlin. Page 7." %>
    </div>
  
  </div>

</div>
