<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div class="page-header">
        <h2>All Agents</h2>
      </div>

      <%= render partial: 'agents/shared_table', locals: {agents: @agents} %>

      <br/>

      <div class="btn-group">
        <%= link_to 'My Agents', agents_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
