<div class='container'>
  <div class='row'>
    <div class='span12'>
      <div class="page-header">
        <h2>Editing your <%= @agent.short_type %></h2>
      </div>

      <%= render 'form' %>

      <div class="btn-group">
        <%= link_to '<i class="icon-chevron-left"></i> Back'.html_safe, agents_path, class: "btn" %>
        <%= link_to '<i class="icon-asterisk"></i> Show'.html_safe, agent_path(@agent), class: "btn" %>
      </div>
    </div>
  </div>
</div>