.scenario-import {
  .agent-import-list {
    .agent-import {
      margin-bottom: 20px;

      .instructions {
        margin-bottom: 10px;
      }

      .current {
        font-weight: bold;
      }
    }
  }
}