// Sortable table headers
@import "font-awesome";

.table th a.selected {
  position: relative;
  text-decoration: underline;

  &.asc:after, &.desc:after {
    text-decoration: none;
    position: absolute;
    top: 0;
    right: -1em;
    @extend %fa-icon;
    @extend .fa-solid;
  }

  &.asc:after {
    content: fa-content($fa-var-sort-asc);
  }

  &.desc:after {
    content: fa-content($fa-var-sort-desc);
  }
}

.table-striped > tbody > tr.hl {
  &:nth-child(odd) {
    > td, > th {
      background-color: #ffeecc;
    }
  }

  &:nth-child(even) {
    > td, > th {
      background-color: #f9e8c6;
    }
  }
}

table.events {
  .payload {
    color: #999;
    font-size: 12px;
    //text-align: center;
    font-family: monospace;
  }
}

