<% if flash.keys.length > 0 %>
  <div class="flash">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name.to_sym == :notice ? "success" : "danger" %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      </div>
    <% end %>
  </div>
<% end %>
